.contactFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    border-radius: #14c57c;
}

.contactFormWrapperField {
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.contactForm {
    border-radius: 8px;
    padding: 16px;
    width: 320px;

}

.contactFormBtn {
    border-radius: 8px;
padding: 6px 12px;
width: 120px;
background: #14c57c;
border: none;
color: azure;
}

.contactFormBtn:hover {
    background: #009156;
}