.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.menuBtn {
  padding: 6px 12px;
  border-radius: 6px;
  max-width: 120px;
  background: #14c57c;
  border: none;
  color: azure;
  cursor: pointer;
}
